# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/cmake-build-debug/.cmake/api/v1/query/cache-v2
/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-9c2ca7e3c57f656d63a8.json
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-bba72bf10c75cf1d2674.json
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-b6d0de3b748d25d029ef.json
/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
/cmake-build-debug/.cmake/api/v1/reply/index-2024-01-01T18-06-00-0905.json
/cmake-build-debug/.cmake/api/v1/reply/target-webserver-Debug-736eaec8967b0bda3fd2.json
/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-1a22d9ad962073fe4f39.json
/cmake-build-debug/CMakeFiles/3.27.9/CompilerIdC/a.out
/cmake-build-debug/CMakeFiles/3.27.9/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/3.27.9/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.27.9/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/CMakeFiles/3.27.9/CMakeSystem.cmake
/cmake-build-debug/CMakeFiles/spare.dir/build.make
/cmake-build-debug/CMakeFiles/spare.dir/cmake_clean.cmake
/cmake-build-debug/CMakeFiles/spare.dir/compiler_depend.make
/cmake-build-debug/CMakeFiles/spare.dir/compiler_depend.ts
/cmake-build-debug/CMakeFiles/spare.dir/depend.make
/cmake-build-debug/CMakeFiles/spare.dir/DependInfo.cmake
/cmake-build-debug/CMakeFiles/spare.dir/flags.make
/cmake-build-debug/CMakeFiles/spare.dir/link.txt
/cmake-build-debug/CMakeFiles/spare.dir/main.c.o
/cmake-build-debug/CMakeFiles/spare.dir/main.c.o.d
/cmake-build-debug/CMakeFiles/spare.dir/progress.make
/cmake-build-debug/CMakeFiles/webserver.dir/src/my_hashtable.c.o
/cmake-build-debug/CMakeFiles/webserver.dir/src/my_hashtable.c.o.d
/cmake-build-debug/CMakeFiles/webserver.dir/src/my_linkedlist.c.o
/cmake-build-debug/CMakeFiles/webserver.dir/src/my_linkedlist.c.o.d
/cmake-build-debug/CMakeFiles/webserver.dir/build.make
/cmake-build-debug/CMakeFiles/webserver.dir/cmake_clean.cmake
/cmake-build-debug/CMakeFiles/webserver.dir/compiler_depend.internal
/cmake-build-debug/CMakeFiles/webserver.dir/compiler_depend.make
/cmake-build-debug/CMakeFiles/webserver.dir/compiler_depend.ts
/cmake-build-debug/CMakeFiles/webserver.dir/depend.make
/cmake-build-debug/CMakeFiles/webserver.dir/DependInfo.cmake
/cmake-build-debug/CMakeFiles/webserver.dir/flags.make
/cmake-build-debug/CMakeFiles/webserver.dir/link.txt
/cmake-build-debug/CMakeFiles/webserver.dir/main.c.o
/cmake-build-debug/CMakeFiles/webserver.dir/main.c.o.d
/cmake-build-debug/CMakeFiles/webserver.dir/progress.make
/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
/cmake-build-debug/CMakeFiles/clion-environment.txt
/cmake-build-debug/CMakeFiles/cmake.check_cache
/cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
/cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
/cmake-build-debug/CMakeFiles/Makefile.cmake
/cmake-build-debug/CMakeFiles/Makefile2
/cmake-build-debug/CMakeFiles/progress.marks
/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/cmake-build-debug/Testing/Temporary/LastTest.log
/cmake-build-debug/.ninja_deps
/cmake-build-debug/.ninja_log
/cmake-build-debug/build.ninja
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/Makefile
/cmake-build-debug/spare.cbp
/cmake-build-debug/webserver
/cmake-build-debug/webserver.cbp
/.idea/workspace.xml
/.idea/modules.xml
/.idea/editor.xml
/.idea/misc.xml
/.idea/vcs.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/webserver.iml
